@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration-line: underline;
}

input {
    @apply block my-4 p-1 mx-auto text-3xl border border-gray-400;
}

.form-group {
    @apply relative mb-6;
}

.form-group input,
textarea {
    @apply block py-6 px-5 w-full text-base text-black appearance-none focus:outline-none focus:ring-0 bg-white;
}

.form-group label {
    @apply absolute text-base text-primaryDark duration-300 transform -translate-y-5 scale-75 top-6 z-10 origin-[0] left-5;
}

.message {
    @apply bg-white border-primary;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.17);
}

button {
    font-family: Azeret Mono, sans-serif;
    color: black !important;
}

fieldset button {
    border-style: none !important;
}

/* New styles */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2px;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2px;
}

.grid-image {
    width: 100%;
    /* Ensure the image fills the grid cell */
    height: 150px;
    /* Set fixed height */
    object-fit: cover;
}

.featured-container {
    display: flex;
    justify-content: center;
    /* Center the featured image horizontally */
    margin-bottom: 20px;
    /* Space between featured image and grid */
}

.featured-image {
    width: 165px; /* Set fixed width (110% of 150px) */
    height: 165px; /* Set fixed height (110% of 150px) */
    z-index: 10;
    background-color: #f0f0f0; /* Set the desired background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 3px solid gold;
  }
  
  /* Define the spin animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Animation class applied on click */
  .animate-spin {
    animation: spin 1s ease-in-out;
  }